.startPage {
    height: calc(100vh - 160px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.startPageHeader {
    font-size: 5rem;
    /* font-weight: bold; */
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    letter-spacing: .3rem;
    font-weight: 600;
}

.startPageDesc {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    margin-bottom: 3rem;
    letter-spacing: .01rem;
    text-transform: capitalize;
    text-align: center;
    width: 35%;
}